body {
	background-color: #A2A2A2;
	position: relative;
	background-image: url("https://lcubbison.pressbooks.com/app/uploads/sites/28202/2014/08/RadfordEntrance.13.4194.jpg");

}
div {
    width: 500px;
    padding: 10px;
    border-style: solid;
	border-color: #b8020b;
    margin: 0;
    background-color: gray;
	
	margin-left: auto;
    margin-right: auto;
	margin-top: 6cm;
}
form{
	margin-left: 4cm;
    margin-right: auto;	
}
h1{
	margin-left: 4cm;
}
a{
	margin-left: 3cm;
}
.indexMenuBar {
	background-color: #ABABAB;
	border: 5px solid black;
	border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 40px;
	position: relative;
	text-align: center;
	height: 50px;
}

.indexNavigationBar {
	background-color: #C8C8C8;
	border: 1px solid black;
	border-radius: 1px;
	height: 29px;
	padding-top: 10px;
	margin-top: 5px;
}

#indexTopSpan {
	background-color: #B7B7B7;
	border: 1px solid black;
	border-radius: 1px;
	padding-left: 110px;
	padding-right: 110px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.indexSideDiv {
	background-color: #C8C8C8;
	border: 3px solid black;
	border-radius: 3px;
	width: 225px;
	margin-top: 10px;
	margin-right: 220px;
	height: 600px;
	text-align: center;
}

.indexSideSpan {
	padding-right: 19px;
	padding-left: 19px;
	background-color: #B7B7B7;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 32px;
	border: 1px solid black;
	border-radius: 1px;
}

#RU {
	text-align: center;
	color: #b8020b;
}